@import 'tailwindcss';

/* Configuration du mode sombre pour la v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* Tes styles personnalisés si besoin */
:root {
    --background: #ffffff;
    --foreground: #171717;
}

.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
}
